repos:
    # Check for conventional commit messages
    - repo: https://github.com/compilerla/conventional-pre-commit
      rev: v4.3.0
      hooks:
          - id: conventional-pre-commit
            stages: [commit-msg]
            args: []

    # General file checks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
            args: ["--maxkb=500"]
          - id: mixed-line-ending
            args: ["--fix=lf"]
          - id: check-merge-conflict
          - id: check-json
            exclude: 'tsconfig.*\.json$'
          - id: check-toml
          - id: debug-statements
          - id: detect-private-key

    # Search for problematic terms in the text
    - repo: https://github.com/codespell-project/codespell
      rev: v2.4.1
      hooks:
          - id: codespell
            args: ["--ignore-words=.codespellignore"]
            files: '\.(md)$'

    # Lint Markdown files
    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.46.0
      hooks:
          - id: markdownlint
            args: ["--config", ".markdownlint.yaml"]
            files: '\.(md)$'

    # Format Markdown files with Prettier
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v4.0.0-alpha.8
      hooks:
          - id: prettier
            types_or: [markdown]
